<!DOCTYPE html>
<html>
<head>
    <title>Edit Restaurants</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<h2>Existing Restaurants</h2>
<table style="border-spacing: 10px;">
    <thead>
    <tr>
        <th>Id</th>
        <th>Account Name</th>
        <th>Restaurant Name</th>
    </tr>
    </thead>
    <tbody>
    <% for (const { id, account_name, restaurant_name } of restaurants) { %>
        <tr>
            <td><%= id%></td>
            <td><%= account_name%></td>
            <td><%= restaurant_name%></td>
        </tr>
    <%} %>
    </tbody>
</table>
</html>