<!DOCTYPE html>
<html>
<head>
  <title><%= user_name%></title>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<p>Dashboard</p>
<h1>Welcome, <%= user_name%></h1>
<p><a href="/edit-users">Edit User Accounts</a></p>
<p><a href="/edit-bookings">Edit Bookings</a></p>
<p><a href="/edit-cuisine">Edit Cuisine Types</a></p>
<p><a href="/edit-restaurents">Edit A Restaurent</a></p>
<body>
</body>
</html>
