<!DOCTYPE html>
<html>
<head>
  <title><%= user_name%></title>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<p>Dashboard</p>
<h1>Welcome, <%= user_name%></h1>
<p><a href="/admin/edit-users">Edit Customer Accounts</a></p>
<p><a href="/admin/edit-bookings">Edit Bookings</a></p>
<p><a href="/admin/edit-restaurants">Edit Restaurant, Branch, Cuisine</a></p>
<p><a href="/admin/statistics">Statistics</a></p>
<p><a href="/admin/logout">Logout</a></p>
<body>
</body>
</html>
