<!DOCTYPE html>
<html>
<head>
  <title>Admin Login</title>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<h1> Admin Login</h1>
<div id="admin-login-form">
  <form action="/admin" method="POST">
    <p>
      <label for="account-name">Account name: </label>
      <input type="text" id="account-name" name="account_name" placeholder="e.g. admin">
    </p>
    <button type="submit">Login</button>
  </form>
</div>
<body>
</body>
</html>
