<!DOCTYPE html>
<html>
<head>
    <title>Edit Restaurants</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<h2>Existing Restaurants</h2>
<table style="border-spacing: 10px;">
    <thead>
    <tr>
        <th>Id</th>
        <th>Account Name</th>
        <th>Restaurant Name</th>
    </tr>
    </thead>
    <tbody>
    <% for (const { id, account_name, restaurant_name } of restaurants) { %>
        <tr>
            <td><%= id%></td>
            <td><%= account_name%></td>
            <td><%= restaurant_name%></td>
        </tr>
    <%} %>
    </tbody>
</table>
<br>
<br>
<h2>Edit Restaurant</h2>
<form action="/admin/edit_restaurant" method="POST">
    <p>
        <label for="restaurant-id">Restaurant Id:</label>
        <input type="text" id="restaurant-id" name="restaurant_id" placeholder="7ebc4635-aad7-427f-ab11-d9b52ab6c2503">
    </p>
    <p>
        <label for="edit-restaurant-account-name">New Restaurant Account Name:</label>
        <input type="text" id="edit-restaurant-account-name" name="new_restaurant_account_name" placeholder="NewRestaurantAccountName">
    </p>
    <p>
        <label for="edit-restaurant-name">New Restaurant Name:</label>
        <input type="text" id="edit-restaurant-name" name="new_restaurant_name" placeholder="Wing Hut">
    </p>
    <button type="submit">Save Changes</button>
</form>
<br>
<br>
</html>