<!DOCTYPE html>
<html>
<head>
    <title>Edit Restaurants</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<h2>Existing Restaurants</h2>
<table style="border-spacing: 10px;">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <% for (const { id, name } of users) { %>
        <tr>
            <td><%= id%></td>
            <td><%= name%></td>
        </tr>
    <%} %>
    </tbody>
</table>
</html>