<% include customerTemplate/afterLoginHeader %>

<div id="banner" class="row">
	<div id="title" class="col-lg-12">
		<h3>Reserving Gourmet Spots At Your Finger Tips</h3>
	</div>
</div>

<% include customerTemplate/footer %>