<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><a href="/restaurants">Restauranteurs here</a></p>
    <p><a href="/admin">Admins here</a></p>
  </body>
</html>
