<% include customerTemplate/afterLoginHeader %>

<div class="container" style="padding-top: 25px;">
	<div class="row">
		<div class="col-lg">
		</div>
	</div>
	
	<div class="row">
		<div class="col-lg">
		</div>
	</div>
</div>

<% include customerTemplate/footer %>