<% include customerTemplate/beforeLoginHeader %>
<div "id="mainBody">
	<div class="container form-group" style="padding-top: 25px;">
		<form method="post" action="login">
			<div class="row">
				<div class="col-lg-1">
					Email:
				</div>
				<div class="col-lg-8">
					<input type="text" name="email" id="email" placeholder="Email">
				</div>
			</div>
			<div class="row" style="padding-top:10px;">
				<div class="col-lg-1">
					Password:
				</div>
				<div class="col-lg-8">
					<input type="password" name="password" id="password" placeholder="Password">
				</div>
			</div>
			<div class="row" style="padding-top: 10px;">
				<div class="col-lg-3">
					<button style="width: 100%;"class="btn btn-primary" type="submit" onclick="">Log In</button>
				</div>
			</div>
		</form>
		<% if(loginCheck == -1){ %>
		<script>alert("User or Password is invalid!");</script>
		<% }%>
	</div>
</div>
<% include customerTemplate/footer %>
