<% include customerTemplate/beforeLoginHeader %>

<div class="row">
	<div class="col-lg-12">
		<form method="post" action="login">
			Email: <input type="text" name="email" id="email">
			<br>
			Password: <input type="password" name="password" id="password">
			<br>
			<button type="submit" onclick="">Log In</button>
		</form>
	</div>
</div>
	
<% include customerTemplate/footer %>
