<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<form method="" action="">
		<label>Username</label><input type="text" name="username">
		<br>
		<label>Password</label><input type="password" name="password">
		<br>
		<button type="submit" onclick="">Log In</button>
	</form>
  </body>
</html>
