<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<form method="post" action="login">
		Email: <input type="text" name="email" id="email">
		<br>
		Password: <input type="password" name="password" id="password">
		<br>
		<button type="submit" onclick="">Log In</button>
	</form>
  </body>
</html>
