<% include customerTemplate/beforeLoginHeader %>

<div id="mainBody" class="container">

	<form method="post" action="register">
		<div class="row" style="padding-top:10px;">
			<div class="col-lg-1">
				Name:
			</div>
			<div class="col-lg-8">
				<input type="text" name="name" id="name" placeholder="Name">
			</div>
		</div>
		<div class="row" style="padding-top:10px;">
			<div class="col-lg-1">
				Email:
			</div>
			<div class="col-lg-8">
				<input type="text" name="email" id="email" placeholder="Email">
			</div>
		</div>
		<div class="row" style="padding-top:10px;">
			<div class="col-lg-1">
				Password:
			</div>
			<div class="col-lg-8">
				<input type="password" name="password" id="password" placeholder="Password">
			</div>
		</div>
		<div class="row" style="padding-top:10px;">
			<div class="col-lg-1">
				Confirm Password:
			</div>
			<div class="col-lg-8">
				<input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password">
			</div>
		</div>
		<div class="row" style="padding-top: 10px;">
			<div class="col-lg-3">
				<button style="width: 100%;"class="btn btn-primary" type="submit" onclick="">Register</button>
			</div>
		</div>
	</form>

</div>
	
<% include customerTemplate/footer %>
