<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	
	<script src="javascripts/registerScript.js"></script>
  </head>
  <body>
	<a href="/">Home</a> <a href="/login">Login</a> <a href="/register">Register</a> <a href="/reservation">Reservation</a>
	<br>
	
    <form method="post" action="register">
		Name: <input name="name" id="name" type="text"><br>
		Email: <input name="email" id="email" type="email"><br>
		Password: <input name="password" id="password" type="password"><br>
		Confirm Password: <input name="confirmPassword" id="confirmPassword" type="password"><br>
		<button type="submit">Register</button>
	</form>
  </body>
</html>
