<% include customerTemplate/afterLoginHeader %>
	
<div class="row">
	<div class="col-lg-2">
		<form method="post" action="selectCuisine">
			<button type="submit">Make Reservation</button>
		</form>
	</div>
	<div class="col-lg-2">
		<!-- TODO -->
		<form method="post" action="#">
			<button type="submit">Delete Reservation</button>
		</form>
	</div>
</div>

<h3>Current Reservations</h3>
<tbody>
	<% for(var i=0; i<data.length; i++) { %>
	<tr>
		<td><%= data[i].name%></td>
	</tr>
	<% } %>
</tbody>
	
<% include customerTemplate/footer %>
