<% include customerTemplate/afterLoginHeader %>
	
<div class="row">
	<div class="col-lg-2">
		<form method="post" action="selectCuisine">
			<button type="submit">Make Reservation</button>
		</form>
	</div>
	<div class="col-lg-2">
		<!-- TODO -->
		<form method="post" action="#">
			<button type="submit">Delete Reservation</button>
		</form>
	</div>
</div>

<h3>Current Reservations</h3>
<table id="currentReservation">
	<tr>
		<td></td>
		<td>Address</td>
		<td>Num of Pax</td>
		<td>Time</td>
	</tr>
	<% for(var i=0; i<data.length; i++) { %>
	<tr>
		<td><%= data[i].name%></td>
		<td><%= data[i].address%></td>
		<td><%= data[i].num%></td>
		<td><%= data[i].time%></td>
	</tr>
	<% } %>
</table>
	
<% include customerTemplate/footer %>
