<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/scripts/restaurants.js" defer></script>
  </head>
  <body>
    <p>Dashboard</p>
    <p><a href="/restaurants/logout">Logout</a></p>
  </body>
</html>
