<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/">Home</a> <a href="/login">Login</a> <a href="/register">Register</a> <a href="/reservation">Reservation</a>
	<br>
		<p>Please choose a branch for <b>TODO: PUT RESTAURANT NAME HERE</b></p>
	<form method="post" action="makeReservation">
		<table id="branches-display" style="border-spacing: 10px;">
		<thead>
		<tr>
			<th>Branch</th>
			<th>Address</th>
		</tr>
		</thead>
		<tbody>
			<% for(const {id, name, address} of data) { %>
			<tr>
				<td>
					<input id="branch-id" type="radio" name="branch" value="<%=id%>"/>
				</td>
				<td><%=name%></td>
				<td><%=address%></td>
			</tr>
			<% } %>
		</tbody>
		</table>
		<br>
		<label for="reservation-pax">Booking for: </label>
		<input id="reservation-pax" type="number" name="reservationPax" value="2"/>
   	<br>
		<br>
		<button type="submit">Done</button>
	</form>
  </body>
</html>
