<% include customerTemplate/afterLoginHeader %>
<div id="mainBody">
<p>Please choose a <%= restaurant_name%> branch</p>
<form method="post" action="makeReservation">
	<table id="branches-display" style="border-spacing: 10px;">
	<thead>
	<tr>
		<th>Branch Name</th>
		<th>Address</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
		<% for(const {id, name, address} of data) { %>
		<tr>
			<td><input id="branch-id" type="radio" name="branch_id" value="<%=id%>"/>&nbsp<%=name%></td>
			<td><%=address%></td>
		</tr>
		<% } %>
	</tbody>
	</table>
	<br>
	<label for="reservation-pax">Booking for: </label>
	<input id="reservation-pax" type="number" name="reservation_pax" value="2" required/>
<br>
	<br>
	<label for="reservation-datetime">Choose a booking date & time: </label>
	<input id="reservation-datetime" type="datetime-local" step="900" name="reservation_datetime"/>
	<br>
	<br>
	<label for="duration">Duration (mins): </label>
	<input id="duration" type="number" name="duration_mins" value="60" min="30" step="15" required/>
	<br>
	<br>
	<button type="submit">Done</button>
</form>

</div>
	
<% include customerTemplate/footer %>